<!DOCTYPE html>
<html lang="ca">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Gestió de Col·leccions</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>
<body>
<!-- Barra de Navegació -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <!-- Moure el botó d'Inici amb un marge a l'esquerra -->
        <a class="navbar-brand ms-2" href="/">Inici</a>
    </div>
</nav>
<!-- Contingut de la pàgina -->
<div class="container mt-4">
    {% block content %}{% endblock %}
</div>

</body>
</html>
