{% extends "base.html" %}

{% block content %}
<!DOCTYPE html>
<html lang="ca">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Equip</title>
</head>
<body>
    {% if message %}
    <div class="alert alert-{{ message_type }} alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endif %}
    <!-- Formulari per editar la col·lecció -->
    <div class="container mt-4">
        <h1>Editar Equip: {{ team.name }}</h1>
        <form action="/teams/edit/{{ team.id }}" method="POST">
            <!-- Nom de la col·lecció -->
            <div class="form-group">
                <label for="name">Nom de l'Equip:</label>
                <input type="text" id="name" name="name" class="form-control" value="{{ team.name }}" required>
            </div>
            
            <!-- Descripció Equip -->
            <div class="form-group mt-3">
                <label for="role">Role:</label>
                <textarea id="role" name="role" class="form-control" required>{{ team.role }}</textarea>
            </div>

            <!-- Botó per actualitzar la col·lecció -->
            <div class="mt-4">
                <button type="submit" class="btn btn-warning">Actualitzar Equip</button>
            </div>
        </form>

        <!-- Botó per tornar a la llista de col·leccions -->
        <a href="/teams" class="btn btn-secondary mt-3">Tornar a la llista d'equips</a>
    </div>
</body>
</html>
{% endblock %}
